* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('14.png'); /* Path to your image */
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  font-family: Arial, sans-serif;
}

.container {
  background-color: rgba(255, 255, 255, 0.8); /* Adding slight transparency for readability */
  max-width: 400px;
  margin: 200px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-bottom: 20px;
}

p {
  margin: 10px 0;
  font-size: 16px;
}

.Status {
  text-align: justify;

  footer {
  margin-top: 30px;
  padding: 6px;
}

footer p {
  margin: 4px;
  color: white;
  font-size: 16px;
  animation: slideUp 2s ease-in-out;
}
}
